{{> head }}
{{> navbar}}

    <div class="container">
        <h3>Acerca de <strong>NodeJS</strong></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor soluta obcaecati odio. Laboriosam delectus aspernatur ipsam cupiditate similique sed animi, atque velit sit doloribus, recusandae esse, rerum asperiores fuga placeat!</p>
    </div>

{{> footer}}