{{> head }}

{{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4 text-center">Hola, {{nombre}} est치s usando <strong>NodeJs</strong></h1>
        <p class="lead">Prueba de webserver</p>
        <hr class="my-4">
        <p>Esta es una prueba de impresi칩n de un archivo est치tico .html y din치mico con HBS</p>
    </div>

{{> footer}}